/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
/* --- */

:root {
  --main-bg-color: #fff;
  --highlight-bg-color: #0000ff;
  --dark-bg-color: #000;
  --main-text-color: #000;
  --main-text-color-invert: #fff;
  --secondary-text-color: #ccc;
  --footer-secondary-text-color: #ccc;
  --highlight-text-color: #0000ff;
  --main-font: 'Barlow', sans-serif;

  --normal-font-size: 23px;
  --normal-font-weight: 500;

  --smaller-font-size: 20px;
}

[data-theme="dark"] {
  --main-bg-color: #000;
  --highlight-bg-color: #0000ff;
  --dark-bg-color: #fff;
  --main-text-color: #fff;
  --main-text-color-invert: #fff;
  --secondary-text-color: #ccc;
  --footer-secondary-text-color: #333;
  --highlight-text-color: #3697fc;
  --main-font: 'Barlow', sans-serif;

  --normal-font-size: 23px;
  --normal-font-weight: 500;

  --smaller-font-size: 20px;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

/* Nav */
header{
  position: fixed;
  height: 80%;
}

.mode-switch{
  color: var(--main-text-color);
  cursor: pointer;
}

nav a:hover{
  text-decoration: none;
}

nav span{
  margin: 1rem 0px;
  display: block;
  color: var(--secondary-text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  cursor: pointer;
  user-select: none;
  transition: 0.2s all;

}

nav span:hover, nav span.active{
  color: var(--highlight-text-color);
}
/* Nav */

/* Footer */
footer{
  background-color: var(--dark-bg-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0px;
  z-index: 99;
}

footer a, footer a:hover{
  color: var(--footer-secondary-text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  user-select: none;
}
/* Footer */

.section-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
#home h1{
  background-color: var(--highlight-bg-color);
  color: #fff;
  display: inline-block;
  padding: 3px 2rem;
  font-size: 6rem;
}

#home h2{
  color: var(--main-text-color);
  font-size: 4rem;
}
/* Home */

.bottom-spacer{
  height: 6rem;
}

/* Scroll */
.scroll-track{
  position: fixed;
  height: 80%;
}

.scroll-btn{
  height: 60px;
  width: 20px;
  background-color: var(--dark-bg-color);
  border-radius: 100px;
  position: absolute;
  cursor: grab;
  top: 688px;
}

.scroll-btn.active{
  cursor: grabbing;
}
/* Scroll */

/* About */
#about p{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--main-text-color);
}
/* About */

/* Gallery */
.gallery-image-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-image-container h3{
  position: absolute;
  color: var(--main-text-color-invert);
  opacity: 0;
  z-index: 9;
  transition: 0.1s opacity;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  transition: 0.1s opacity;
}

.gallery-image-container:hover .overlay, .gallery-image-container:hover h3{
  opacity: 1;
}
/* Gallery */

/* Modal */
.modal-screen{
  position: fixed;
  width: 100%;
  height: 100%;  
  z-index: 999;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close{
  background-color: rgba(0, 0, 0, 0.5);  
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-container{
  width: 70%;
  height: 60%;
  background-color: #000;
  position: relative;
  z-index: 99;
  overflow-y: scroll;
}

.modal-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-text, .modal-text a{
  color: #fff;
}

.modal-text a{
  margin-left: 2em;
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
}

.modal-text p{
  font-size: var(--smaller-font-size);
}
/* Modal */

/* Modal Scroll Bar */
.modal-container::-webkit-scrollbar {
  width: 20px;
}
  
/* Track */
.modal-container::-webkit-scrollbar-track {
  background: #fff;    
}
  
/* Handle */
.modal-container::-webkit-scrollbar-thumb {
  background: #0000ff;
}

.modal-container::-webkit-scrollbar-thumb:hover{
  background: #3697fc;
}
/* Modal Scroll Bar */
