/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
/* --- */

:root {
  --main-bg-color: #fff;
  --highlight-bg-color: #3697fc;
  --dark-bg-color: #000;
  --main-text-color: #000;
  --secondary-text-color: #ccc;
  --footer-secondary-text-color: #ccc;
  --highlight-text-color: #3697fc;
  --main-font: 'Barlow', sans-serif;

  --normal-font-size: 23px;
  --normal-font-weight: 500;

  --smaller-font-size: 20px;

  --border-color: #707070;
}

[data-theme="dark"] {
  --main-bg-color: #000;
  --highlight-bg-color: #3697fc;
  --dark-bg-color: #fff;
  --main-text-color: #fff;
  --secondary-text-color: #ccc;
  --footer-secondary-text-color: #333;
  --highlight-text-color: #3697fc;
  --main-font: 'Barlow', sans-serif;

  --normal-font-size: 23px;
  --normal-font-weight: 500;

  --smaller-font-size: 20px;

  --border-color: #bdbdbd;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

/* Nav */
header{
  position: fixed;
  height: 80%;
}

.mode-switch{
  color: var(--main-text-color);
  cursor: pointer;
}

nav a:hover{
  text-decoration: none;
}

nav span{
  margin: 0rem 0px 1rem;
  display: block;
  color: var(--secondary-text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  cursor: pointer;
  user-select: none;
  transition: 0.2s all;

}

nav span:hover, nav span.active{
  color: var(--highlight-text-color);
}
/* Nav */

/* Footer */
footer{
  background-color: var(--dark-bg-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0px;
  z-index: 99;
}

footer a, footer a:hover{
  color: var(--footer-secondary-text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  user-select: none;
}
/* Footer */

.section-container{
  min-height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
#home h1{
  background-color: var(--highlight-bg-color);
  color: #fff;
  display: inline-block;
  padding: 3px 2rem;
  font-size: 6rem;
}

#home h2{
  color: var(--main-text-color);
  font-size: 4rem;
}
/* Home */

.bottom-spacer{
  height: 9vh;
}

/* Scroll */
.scroll-track{
  position: fixed;
  height: 80%;
}

.scroll-btn{
  height: 60px;
  width: 20px;
  background-color: var(--dark-bg-color);
  border-radius: 100px;
  position: absolute;
  cursor: grab;
  top: 688px;
}

.scroll-btn.active{
  cursor: grabbing;
}
/* Scroll */

/* About */
#about p{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--main-text-color);
}
/* About */

/* Gallery */
.gallery-image-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-image-container h3{
  position: absolute;
  color: #fff;
  opacity: 0;
  z-index: 9;
  transition: 0.1s opacity;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  transition: 0.1s opacity;
}

.gallery-image-container:hover .overlay, .gallery-image-container:hover h3{
  opacity: 1;
}
/* Gallery */

/* Modal */
.modal-screen{
  position: fixed;
  width: 100%;
  height: 100%;  
  z-index: 999;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close{
  background-color: rgba(0, 0, 0, 0.5);  
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-container{
  width: 70%;
  height: 60%;
  background-color: #000;
  position: relative;
  z-index: 99;
  overflow-y: scroll;
}

.modal-image-container{ 
  height: 100%;
  width: 100%;
  position: relative;
}

.modal-image-container section{
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 28px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: #fff;
}

.modal-image-container span.down-arrow-icon{
  position: absolute;
  bottom: 20px;
  animation: down-arrow 2s infinite ease-in-out;
  cursor: pointer;
  transition: 0.2s color;
}

.modal-image-container span.exit-icon{
  display: none;
}

.modal-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-text, .modal-text a{
  color: #fff;
}

.modal-text a{
  margin-left: 2em;
  font-size: 20px;
  transition: 0.2s color;
}

.modal-text a:hover, .modal-image-container span:hover{
  color: #3697fc;
}

.modal-text p{
  font-size: var(--smaller-font-size);
}
/* Modal */

/* Modal Scroll Bar */
.modal-container::-webkit-scrollbar {
  width: 12px;
}
  
/* Track */
.modal-container::-webkit-scrollbar-track {
  background: #fff;    
}
  
/* Handle */
.modal-container::-webkit-scrollbar-thumb {
  background: #3697fc;
}
/* Modal Scroll Bar */

/* Down Arrow Animation */
@keyframes down-arrow {
  0%, 30%, 70%, 100% {bottom: 20px;}
  10%, 50% {bottom: 0px;}
}
/* Arrow Animation */

/* Contact form */
#contact h2{
  color: var(--main-text-color);
}

#contact-form input, #contact-form textarea{
  color: var(--main-text-color);
  width: 100%;
  border: 1px solid var(--border-color);
  font-size: var(--normal-font-size);
  padding: 10px 15px;
  font-weight: var(--normal-font-weight);
  background-color: transparent;
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
  color: var(--main-text-color);
}

#contact-form button{
  background-color: #0000FF;
  color: #fff;
  border: none;
  font-size: var(--normal-font-size);
  font-weight: 600;
  padding: 8px 2.5em;
  transition: 0.2s background-color;
}

#contact-form button:hover{
  background-color: var(--highlight-bg-color);
}

#contact-form textarea{
  min-height: 60px;
  max-height: 200px;
}
/* Contact form */

/* Mobile Responsive */
@media only screen and (max-width: 992px) {
  #home h1 {    
    font-size: 4rem;
  }
  #home h2 {
    font-size: 3rem;
  }
  #about p {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .gallery-image-container h3 {
    font-size: 20px;
  }
  .gallery-image {
    height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  header{
    height: 75%;
  }
  .modal-container {
    width: 85%;
    height: 50%;
  }
  .modal-links{
    order: -1;
    margin-bottom: 10px;
  }
  .modal-title{
    order: -2;
  }
  .modal-text a {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 18px;
  }
}

@media only screen and (max-width: 619px) {
  #home h1 {
    font-size: 2rem;
    padding: 3px 18px;
  }
  #home h2 {
    font-size: 1.5rem;
  }
  nav span {
    font-size: 20px;
  }
  .modal-container {
    width: 100%;
    height: 100%;
  }
  .modal-image-container span {
    font-size: 18px;
  }
  .modal-image-container, .modal-image{
    height: auto;
  }
  .modal-image-container section {
    height: auto;
    bottom: auto;
    justify-content: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
    padding: 3px 8px;
  }
  .modal-image-container section .down-arrow-icon{
    display: none;
  }
  .modal-image-container span.exit-icon{
    display: block;
  }
  .modal-links {
    margin-bottom: 2em;
  }
  .modal-text{
    text-align: center;
  }
  .modal-text ul{
    list-style: none;
    padding-left: 0px;
  }
  #about p {
    font-size: 18px;
  }
  #contact h2 {
    font-size: 20px;
  }
  #contact-form input, #contact-form textarea {
    font-size: 18px;
    padding: 5px 10px;
  }
  #contact-form input[type=text]{
    margin-bottom: 15px;
  }
  #contact-form button {
    font-size: 20px;
    padding: 5px 2em;
  }
  .modal-container::-webkit-scrollbar {
    width: 10px;
  }
}
/* Mobile Responsive */